#animation{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard{
    margin: 2rem 0;
    box-sizing: content-box;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 58.5rem;
    border: 1px solid var(--pop-color1-20opacity);
}

#typewriter{
    height: 4rem;
    display: inline-block;
}

#text{
    color: var(--pop-color1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    white-space: pre;
    border-right: 0.5rem solid var(--main-text-color);
    animation: cursor .5s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-right-color: transparent }
}

.row{
    display: flex;
}

.tile{
    font-weight: bold;
    min-width: 3.5rem;
    height: 3.5rem;
    margin: 0.2rem;
    color: var(--main-bg-color);
    border: 1px solid var(--pop-color1-20opacity);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 2s;
}

.tile:hover{
    cursor: pointer;
    transition: 0s;
    background-color: var(--pop-color1);
}

.tile:active{
    background-color: var(--main-bg-color);
    color: var(--pop-color1)
}

.hello{
    transition: 0s;
    background-color: var(--pop-color1);
}

.wasd{
    background-color: var(--pop-color1-20opacity);
}
