*{
    --main-bg-color: #000000;
    --main-text-color: #d6d6d6;
    --pop-color1: #00ACAC;
    --pop-color1-20opacity: #00ACAC33; /* POP COLOR WITH 20% OPACITY */
    --pop-color2: #A6A7A2;
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: NTR;
}

::selection{
    background-color: var(--pop-color1);
    color: var(--main-bg-color)
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

html, body{
    width: 70rem;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    z-index: 1;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    font-weight: bold;
    width: 70rem;
    height: 3rem;
    padding: 1rem 0;
    box-sizing: content-box;
    background-color: var(--main-bg-color);
    z-index: 1000;
}

h2{
    font-size: 3rem;
    letter-spacing: 0.4rem;
}

nav#navigation, nav#contact-icons{
    display: flex;
}

#contact-icons svg{
    width: 2.5rem;
    height: 2.5rem;
}

a{
    text-decoration: none;
    color: var(--main-text-color)
}

a:hover{
    cursor: pointer;
    color: var(--pop-color1);
}

a#name{
    font-size: 2rem;
    padding-right: 1.5rem;
    color: var(--pop-color1);
}

li{
    list-style-type: none;
}

#navigation li{
    padding-right: 1rem;
}

#navigation a{
    font-size: 1.5rem;
}

.flex{
    display: flex;
    align-items: center;
}

#introduction{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction p{
    position: relative;
    display: flex;
    text-align: center;
    font-size: 2.5rem;
    line-height: 127%;
    padding: 0 4rem;
}

#introduction p::after, #introduction p::before{
    content: "\"";
    color: var(--pop-color1);
    height: 5rem;
    width: 5rem;
    font-size: 5rem;
    position: absolute;
}

#introduction p::after{
    top: 0;
    right: 1rem;
}

#introduction p::before{
    top: 0;
    left: 1rem;
}


#home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.snap{
    min-height: 100dvh;
    padding-top: 5rem;
    scroll-snap-align: start;
}

.topic{
    padding-top: 2rem;
    width: 100%;
    scroll-margin-top: 5rem;
    margin-bottom: 10rem;
}

.topic *{
    font-size: 2rem;
    line-height: 125%;
}

.topic h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.topic h2::after{
    content: "";
    background-color: var(--pop-color1-20opacity);
    margin-left: 1rem;
    height: 1px;
    flex: 1;
}

#information{
    padding-top: 5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight{
    font-size: 3rem;
    color: var(--pop-color1)
}

#scrollDown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scrollDown p{
    font-size: 1.5rem;
}

#scrollIcon svg{
    font-size: 3rem;
    animation: button-pulse 2s infinite;
}

@keyframes button-pulse {
    0%, 100%{
        scale: 100%;
        color: var(--main-text-color)
    }

    50%{
        scale: 110%;
        color: var(--pop-color1)
    }
}

/* FADE IN ANIMATION */
.fade-in{
    opacity: 0;
    transform: translateY(4rem);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in.is-visible{
    opacity: 1;
    transform: translateY(0);
}

/* ABOUT */
#about-picture{
    margin-top: 2rem;
    min-width: 20rem;
    min-height: 20rem;
    border-radius: 10rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2.5rem 1rem var(--pop-color1-20opacity);
}

#about-picture:hover{
    scale: 120%;
    box-shadow: none;
}

#about img{
    position: absolute;
    top: -6rem;
    left: -2.4rem;
    height: 150%;
}

#about{
    display: flex;
    flex-direction: column;
}

#about-content{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#about-text{
    margin-right: 1rem;
}

/* SKILLS */
#skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills-content p{
    font-size: 1.5rem;
}

.skills-tile{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 5.3rem;
    width: 5.3rem;
}

.skills-tile svg{
    height: 70%;
    width: auto;
    padding-bottom: 0.5rem;
}

/* PROJECTS */
#projects-content{

}

.projects-tile{
    display: flex;
    padding: 2rem 0 2rem 2rem;
    width: 100%;
    border-radius: 1rem;
    border: 0.1rem solid var(--pop-color1-20opacity);
}

.projects-tile h3{
    color: var(--pop-color1)
}

.projects-tile h3::before{
    content: '\\';
    margin-right: 0.5rem;
}

.projects-tile p{
    font-size: 1.5rem;
}

.projects-tile-info{
    width: 50%;
    padding-right: 1rem;
}

.projects-tile-video{
    z-index: 1;
    position: relative;
    padding-right: 2rem;
    width: 50%;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--pop-color1-20opacity)
}

.projects-tile-video iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.projects-youtube-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 101%;
    z-index: 2;
    transition: width 1s;
}

.projects-youtube-cover:hover{
    cursor: pointer;
    color: var(--pop-color1)
}

.projects-youtube-cover svg{
    width: 50%;
    height: 50%;
}

.projects-tile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}